<!--<div class="flex flex-row flex-wrap">-->
<!--  <div class="flex">-->
<!--    <p-image src="{{logoImgPath}}"  alt="logo" width="120"></p-image>-->
<!--  </div>-->
<!--  <div class="flex-grow-1 surface-ground text-color-secondary">-->
<!--    <h1>{{title}}</h1>-->
<!--  </div>-->
<!--</div>-->

<!--<p-breadcrumb class="max-w-full"  [model]="items" [home]="home"></p-breadcrumb>-->

<div class="bg-yellow-500 flex flex-row justify-content-between m-0 px-2 min-w-min">
  <div class="flex flex-row">
    <h2>logo |</h2>
    <h2>| app-name</h2>
  </div>

  <div>
    <h2>header works!</h2>
  </div>

  <div class="flex flex-row">
    <h2>icons |</h2>
    <h2>| menu</h2>
  </div>


</div>


