<div id="particles-container" class="z-0 absolute">
  <canvas id="particles" class=" "></canvas>
</div>


<div class="surface-ground flex flex-row justify-content-between m-0 px-2 min-w-min z-1">
    <div class="flex flex-row align-items-center ">
        <app-logo></app-logo>
        <div class="font-bold text-4xl text-primary px-3">Metro.iD</div>
    </div>

    <div>
        <h2>header works!</h2>
    </div>

    <div class="flex flex-row">
        <h2>icons |</h2>
        <h2>| menu</h2>
    </div>


</div>

<p-breadcrumb class="max-w-full"  [model]="items" [home]="home"></p-breadcrumb>
