<p-tabView class=""
           [(activeIndex)]="activeTabIndex"
           [scrollable]="true"
           [controlClose]="false"
           (onClose)="removeTab($event.index)"
           (activeIndexChange)="activeIndexChange($event)"
>

  <p-tabPanel
    *ngFor="let tab of tabs"
    [header]="tab.tabHeader"
    [closable]="true">

    <div [ngSwitch]="tab.template">

      <ng-template ngSwitchCase="mi_list_main">
        <ng-container [ngTemplateOutlet]="mi_list_main"
                      [ngTemplateOutletContext]="context"></ng-container>
      </ng-template>

      <ng-template ngSwitchCase="mi-list-indicators">
        <ng-container [ngTemplateOutlet]="template21"
                      [ngTemplateOutletContext]="context"
        ></ng-container>
      </ng-template>

      <ng-template ngSwitchCase="mi-list-long_term_storage">
        <ng-container [ngTemplateOutlet]="template21"
                      [ngTemplateOutletContext]="context"></ng-container>
      </ng-template>

      <ng-template ngSwitchCase="mi-list-technical_control">
        <ng-container [ngTemplateOutlet]="template21"
                      [ngTemplateOutletContext]="context"
        ></ng-container>
      </ng-template>

      <ng-template ngSwitchCase="mi-list-verification">
        <ng-container [ngTemplateOutlet]="template21"
                      [ngTemplateOutletContext]="context"></ng-container>
      </ng-template>

      <ng-template ngSwitchDefault>
        <ng-container [ngTemplateOutlet]="templateDefault"
                      [ngTemplateOutletContext]="context"
        ></ng-container>
      </ng-template>
    </div>


  </p-tabPanel>
</p-tabView>

<ng-template #mi_list_main let-tabNode="tabNode">
  {{ tabNode.label }}
  <app-mi-list-main></app-mi-list-main>
</ng-template>

<ng-template #template21 let-tabNode="tabNode">
  {{ tabNode.label }}
  <div>template 2</div>
</ng-template>

<ng-template #templateDefault let-tabNode="tabNode">
  {{ tabNode.label }}
  <div>template Default</div>
</ng-template>
