<p-table #dt
         [value]="items"
         [lazy]="true"
         (onLazyLoad)="onLazyLoad($event)"
         dataKey="id"
         [paginator]="true"
         [rows]="rows"
         [showCurrentPageReport]="true"
         [tableStyle]="{'min-width': '60rem'}"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [rowsPerPageOptions]="[10, 25, 50, 100]"
         [totalRecords]="totalRecords"
         [filters]="filtersMetadata"
>

  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      {{ tabNode.label }}
      <p-button icon="pi pi-file-excel" severity="success" size="large"></p-button>
    </div>
    <app-organization-filter (onChanged)="onOrganizationFilterChanged($event, dt)"
                             (onReset)="onOrganizationFilterReset(dt)"
    ></app-organization-filter>
    <div class="card flex align-items-center gap-2 flex-wrap">
      <p-chip *ngFor="let filter of chips"
              label="{{filter.value}}"
              [removable]="true"
              (onRemove)="onChipRemove(filter)"></p-chip>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pTooltip="Код виду вимірювань" class="text-center">Вид<br/>вимір.</th>
      <th pTooltip="Найменування ЗВТ"  class="text-center">Найм.<br/>ЗВТ</th>

      <th pSortableColumn="name" pTooltip="Умовне позначення, тип, система">Тип<br/>ЗВТ
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="manufacturer" class="text-center">Виробник<br/>ЗВТ
        <p-sortIcon field="manufacturer"></p-sortIcon>
      </th>
      <th pSortableColumn="number" class="text-center">Номер<br/>ЗВТ
        <p-sortIcon field="number"></p-sortIcon>
      </th>
      <th pSortableColumn="measurementAccuracy" pTooltip="Клас точності, розряд, похибка" class="text-center">Точність<br/>ЗВТ
        <p-sortIcon field="measurementAccuracy"></p-sortIcon>
      </th>
      <th pSortableColumn="measurementRange" class="text-center">Діапазон<br/>вимірювань
        <p-sortIcon field="measurementRange"></p-sortIcon>
      </th>
      <th pSortableColumn="locate" pTooltip="Місце встановлення, експлуатації або зберігання" class="text-center">Розташ.
        <p-sortIcon field="locate"></p-sortIcon>
      </th>
      <th pSortableColumn="maintenanceOrganization" pTooltip="Найменування організації, що виконує повірку або технічний контроль" class="text-center">Організація<br/>МО
        <p-sortIcon field="maintenanceOrganization"></p-sortIcon>
      </th>
      <th pSortableColumn="maintenanceType" pTooltip="Підлягають повірці або технічному контролю, переведені в індикатори, знаходяться на зберіганні" class="text-center">Вид<br/>МО
        <p-sortIcon field="maintenanceType"></p-sortIcon>
      </th>
      <th pSortableColumn="comment" class="text-center">Примітка
        <p-sortIcon field="comment"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th pSortableColumn="measurementType">
        <div class="flex justify-content-evenly align-items-center">
          <p-sortIcon field="measurementType"></p-sortIcon>
          <p-columnFilter type="text" field="measurementType"
                          display="menu" matchMode="~"
                          [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [hideOnClear]="true"
                          class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="type">
        <div class="flex justify-content-evenly align-items-center">
          <p-sortIcon field="type"></p-sortIcon>
          <p-columnFilter type="text" field="type"
                          display="menu" matchMode="~"
                          [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [hideOnClear]="true"
                          class="ml-auto"></p-columnFilter>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.measurementType }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.manufacturer }}</td>
      <td>{{ item.number }}</td>
      <td>{{ item.measurementAccuracy }}</td>
      <td>{{ item.measurementRange }}</td>
      <td>{{ item.locate }}</td>
      <td>{{ item.maintenanceOrganization }}</td>
      <td>{{ item.maintenanceType }}</td>
      <td>{{ item.comment }}</td>
    </tr>
  </ng-template>
</p-table>
