<p-table #dt
         [value]="items"
         [columns]="cols"
         [lazy]="true"
         (onLazyLoad)="onLazyLoad($event)"
         dataKey="id"
         [paginator]="true"
         [rows]="rows"
         [showCurrentPageReport]="true"
         [tableStyle]="{'min-width': '60rem'}"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [rowsPerPageOptions]="[10, 25, 50, 100]"
         [totalRecords]="totalRecords"
         [filters]="filtersMetadata"
>

  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      {{ tabNode.label }}
      <p-button icon="pi pi-file-excel" severity="success" size="large"></p-button>
    </div>
    <app-organization-filter (onChanged)="onOrganizationFilterChanged($event, dt)"
                             (onReset)="onOrganizationFilterReset(dt)"
    ></app-organization-filter>
    <div class="card flex align-items-center gap-2 flex-wrap">
      <p-chip *ngFor="let filter of chips"
              label="{{filter.value}}"
              [removable]="true"
              (onRemove)="onChipRemove(filter)"></p-chip>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" pTooltip="{{col.tooltip}}" class="text-center" style="white-space: pre-wrap">
        {{ col.header }}
      </th>
    </tr>

    <tr>
      <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
        <div class="flex justify-content-center align-items-center">
          <p-sortIcon field="{{col.field}}"></p-sortIcon>
          <p-columnFilter type="text" field="{{col.field}}"
                          display="menu" matchMode="~"
                          [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [hideOnClear]="true"
          ></p-columnFilter>
        </div>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>

</p-table>
