<p-table #dt
         [value]="items"
         [columns]="cols"
         [lazy]="true"
         (onLazyLoad)="onLazyLoad($event)"
         dataKey="id"
         [paginator]="true"
         [rows]="rows"
         [showCurrentPageReport]="true"
         paginatorPosition="both"
         [tableStyle]="{'min-width': '60rem'}"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [rowsPerPageOptions]="[10, 25, 50, 100]"
         [totalRecords]="totalRecords"
         [filters]="filtersMetadata"
>

  <ng-template pTemplate="caption">

    <div class="flex align-items-center justify-content-between">
      {{ tabNode.label }}
      <p-button icon="pi pi-file-excel"
                [text]="true" severity="success" size="large"
                (onClick)="onExportBtnClick()"
                pTooltip="Export to Excel File"
      ></p-button>
    </div>

    <div class="flex align-items-center justify-content-between">
      <app-organization-filter placeholder="Виконавець (погодження)"
                               (onChanged)="onMaintenanceOrganizationFilterChanged($event, dt)"
                               (onReset)="onMaintenanceOrganizationFilterReset(dt)"
      ></app-organization-filter>
      <app-organization-filter placeholder="Замовник (затвердженн)"
                               (onChanged)="onOwnerOrganizationFilterChanged($event, dt)"
                               (onReset)="onOwnerOrganizationFilterReset(dt)"
      ></app-organization-filter>
    </div>

    <p-calendar [(ngModel)]="date" view="year" dateFormat="yy" inputId="yearpicker" (onSelect)="onYearChange($event, dt)"></p-calendar>

    <div class="card flex align-items-center gap-2 flex-wrap mt-1">
      <p-chip *ngFor="let filter of chips"
              label="{{filter.value}}"
              [removable]="true"
              (onRemove)="onChipRemove(filter)"></p-chip>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" pTooltip="{{col.tooltip}}" class="text-center vertical-align-baseline"
          style="white-space: pre-line">
        {{ col.header }}
      </th>
    </tr>

    <tr>
      <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
        <div class="flex justify-content-center align-items-center">
          <p-sortIcon field="{{col.field}}"></p-sortIcon>
          <app-multi-filter type="{{col.filterType}}" field="{{col.field}}"
                            matchMode="{{col.filterMatchMode}}"></app-multi-filter>
        </div>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>

</p-table>
