<div class="root">
    <div class="root__header">
        <!--        header component must be here-->
        <app-header></app-header>
    </div>


    <div class="root__main">

        <div class="root__sidebar">
            <!--       sidebar component must be here-->
            <div class="_sidebar-component">
                <ul class="">
                    <li>1</li>
                    <li>12</li>
                    <li>123</li>
                    <li>1234</li>
                    <li>12345</li>
                    <li>123456</li>
                    <li>1234567</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>12345678</li>
                    <li>123456789</li>
                </ul>
            </div>

        </div>

        <div class="root__content">
            <!--       content component must be here-->
            <div class="_content-component flex flex-row flex-wrap justify-content-between">
                <div> some content</div>
                <div> some content 2</div>
            </div>
            <ul class="">
                <li>1</li>
                <li>12</li>
                <li>123</li>
                <li>1234</li>
                <li>12345</li>
                <li>123456</li>
                <li>1234567</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>12345678</li>
                <li>123456789</li>
            </ul>
            <router-outlet></router-outlet>
        </div>

    </div>


    <div class="root__footer">
        <!--       footer component must be here-->
        <div class="_footer-component">
            some footer
        </div>
    </div>
</div>


