<div class="root">
  <div class="root__header">
    <!--        header component must be here-->
    <app-header></app-header>
  </div>


  <div class="root__main">

    <div class="root__sidebar">
      <!--       sidebar component must be here-->
      <app-sidebar></app-sidebar>
    </div>

    <div class="root__content">
      <!--       content component must be here-->
      <app-content></app-content>
      <router-outlet></router-outlet>
    </div>

  </div>


  <div class="root__footer">
    <!--       footer component must be here-->
    <div class="_footer-component">
      some footer
    </div>
  </div>
</div>
