$header-height: 10vh;
$main-height: 80vh;
$footer-height: 7vh;

.root {
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .root__header {
    margin: 0 0.25rem;
    background-color: yellow;
    min-height: 2rem;
    //height: $header-height;
    //max-height: $header-height;
  }

  .root__main {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.25rem;
    height: $main-height;
    max-height: $main-height;

    .root__sidebar {
      background-color: red;
      flex: 1 1 auto;
      min-width: min-content;
      max-width: 20vw;
      min-height: inherit;
      height: inherit;
      max-height: inherit;
      overflow-y: auto;
    }

    .root__content {
      background-color: blue;
      flex: 1 1 0;
      min-width: 10vw;
      width: 80vw;
      max-width: 80vw;
      margin-left: 0.25rem;
      min-height: inherit;
      height: inherit;
      max-height: inherit;
      overflow-y: auto;
    }

  }

  .root__footer {
    margin: 0 0.25rem;
    background-color: green;
    min-height: 2rem;
    height: $footer-height;
    max-height: $footer-height;
  }
}







