<p-tabView class=""
           [(activeIndex)]="activeTabIndex"
           [scrollable]="true"
           [controlClose]="false"
           (onClose)="removeTab($event.index)"
           (activeIndexChange)="activeIndexChange($event)"
>

  <p-tabPanel
    *ngFor="let tab of tabs"
    [header]="tab.tabHeader"
    [closable]="true">

    <div [ngSwitch]="tab.template">

      <ng-template ngSwitchCase="mi_list_main">
        <ng-container *ngTemplateOutlet="mi_list_main;context:{tabNode:tab}"></ng-container>
      </ng-template>

      <ng-template ngSwitchCase="mi_schedule_technical_control">
        <ng-container *ngTemplateOutlet="mi_schedule_technical_control;context:{tabNode:tab}"></ng-container>
      </ng-template>

      <ng-template ngSwitchCase="mi_schedule_verification">
        <ng-container *ngTemplateOutlet="mi_schedule_technical_control;context:{tabNode:tab}"></ng-container>
      </ng-template>

      <ng-template ngSwitchDefault>
        <ng-container *ngTemplateOutlet="templateDefault;context:{tabNode:tab}"></ng-container>
      </ng-template>
    </div>


  </p-tabPanel>
</p-tabView>

<ng-template #mi_list_main let-tabNode="tabNode">
  <app-mi-list-main [tabNode]=tabNode></app-mi-list-main>
</ng-template>

<ng-template #mi_schedule_technical_control let-tabNode="tabNode">
  <app-mi-schedule [tabNode]=tabNode></app-mi-schedule>
</ng-template>

<ng-template #templateDefault let-tabNode="tabNode">
  {{ tabNode.label }}
  <div>template Default</div>
</ng-template>
